<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923373233117-9tnkle6h968sca44mkvoulodgset1n4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923373233117-9tnkle6h968sca44mkvoulodgset1n4p</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ZQLMJo_9b6p7Zxg9PNvxG0Mzc-Bb2Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>923373233117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BuddyApps.theProject</string>
	<key>PROJECT_ID</key>
	<string>project1-1bd20</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-1bd20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923373233117:ios:8a41dc9a2baf6d58</string>
	<key>DATABASE_URL</key>
	<string>https://project1-1bd20.firebaseio.com</string>
</dict>
</plist>
